body {
    font-family: Arial;
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.selected {
    border: 4px solid blue;
}
