h1 {
    color: aquamarine;
    background-color: antiquewhite;
}

nav {
    padding: auto;
    color: aliceblue;
    overflow: hidden;
}

#container{
    color: aliceblue;
    
}

footer {
    background-color: black;
    color: white;
}